{{- $clustername := .Values.cluster.name }}
{{- $makecloud := .Values.makecloud }}
{{- range $index, $nodepool := .Values.nodepools }}
{{- $allocateFloatingIp := true }}
{{- if hasKey $makecloud "allocateFloatingIp" }}
{{- $allocateFloatingIp = $makecloud.allocateFloatingIp }}
{{- end }}
{{- if hasKey $nodepool "allocateFloatingIp" }}
{{- $allocateFloatingIp = $nodepool.allocateFloatingIp }}
{{- end }}
apiVersion: rke-machine-config.cattle.io/v1
kind: MakecloudConfig
metadata:
  generateName: {{ $nodepool.name }}
  name: {{ $nodepool.name }}
  namespace: fleet-default
allocateFloatingIp: {{ $allocateFloatingIp }}
apiVersion: rke-machine-config.cattle.io/v1
baseUrl: {{ $makecloud.baseUrl }}
caCert: ''
clientCert: ''
clientKey: ''
cpu: "{{ $nodepool.cpu | default "2" }}"
diskSize: "{{ $nodepool.disk | default "60" }}"
firewallTemplateId:
  - 00000000-0000-0000-0000-000000000000
{{- if $allocateFloatingIp }}
  - b108182f-8613-4711-8377-b20cee2b0ef9
  - a0562416-fffc-4a25-8682-5a2583b72e86
{{- end }}
floatingIp: ''
floatingNetworkId: ''
insecure: false
networkId: ''
noInjectSshKey: false
ram: "{{ $nodepool.memory | default "4" }}"
sshKeypath: ''
sshPort: '22'
sshUser: {{ $makecloud.sshUser }}
storageProfileId: {{ $makecloud.storageProfileId }}
tags: []
templateField: []
templateId: {{ $makecloud.templateId }}
templateName: ''
token: ''
userData: ''
vdcId: ''
waitTimeout: '600'
---
{{- end }}
